* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-size: cover;
}

body {
    background-image: url(./fotos/despedida.png) !important;
}

div p {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* font-weight: 300; */
    color: #000000;
    line-height: 50px;
    margin-top: 300px;
    margin-left: 250px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.663);
    border: 5px solid white;
    border-radius: 35%;
    height: 115px;
    width: 550px;
}

div a {
    margin-left: 252px;
    height: 40px;
    width: 550px;
}